#bot-loginIcon img {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    width: 5rem;
    cursor: pointer;
    animation: loginIntro 1s ease-in-out;
    z-index: 100;
}

#bot-loginIcon img:hover {
    transform: scale(1.1);
}

#bot-popup {
    position: fixed;
    bottom: 4rem;
    right: 5rem;
    background-color: rgb(159, 250, 220);
    border: 0.7em solid rgb(159, 250, 220);
    border-radius: 20px;
    border-bottom-right-radius: 0;
    animation: largerFont 0.5s ease-in-out;
    display: none;
    z-index: 100;
}

@keyframes largerFont {
    0% {
        font-size: 0;
    }
}

.grecaptcha-badge{
    display: none !important;
}