        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #loginIcon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
            animation: loginIntro 1s ease-in-out;
        }
        #loginIcon:hover{
            transform: scale(1.1);
        }

        #loginForm {
            position: fixed;
            bottom: 80px;
            right: 20px;
            background-color: #ddf17f;
            border: 1px solid #000000;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgb(241, 217, 4);
            display: none;
            animation: slideIn 0.6s ease-in-out;
        }
        #loginForm .login-input{
            height: 1.2rem;
            border-radius: 5px;
            border: 1px solid gray;
        }
        button[type="button"] {
            width: 100%;
            padding: 10px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
          
          button[type="button"]:hover {
            background-color: #335beb;
          }

        @keyframes slideIn {
            0% {
                opacity: 0;
                transform: translateY(20px);
                box-shadow: 0 0 100px rgb(24, 4, 241);
            }
            
            100% {
                opacity: 1;
                transform: translateY(0);
                box-shadow: 0 0 10px rgb(241, 229, 4);
            }
        }
        @keyframes loginIntro {
            0% {
                opacity: 0.2;
                transform: translateX(-50vw) translateY(-30vw) scale(10);
            }

            100% {
                opacity: 1;
                transform: translateX(0) scale(1);
            }
        }

        .hidden {
            display: none;
        }