main {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background-color: white;
}

#background-img {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100dvh;
  width: auto;
  overflow: hidden;
}

#text-input {
  position: fixed;
  bottom: 3dvh;
  left: 4dvw;
  width: 90dvw;
  height: 7dvh;
  border-radius: 10px;
  font-size: 3dvh;
  resize: vertical;
  border: 1px solid rgb(89, 88, 88);
}

#text-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#send {
  position: fixed;
  bottom: 4.5dvh;
  right: 6dvw;
  height: 5dvh;
  width: 5dvh;
  background-color: #FFDE00;
  border-radius: 100%;
  border: 1px solid #F15922;
}

#send img {
  position: absolute;
  width: 50%;
  height: 50%;
  transform: translate(-60%, -60%);
}

#send:hover {
  background-color: white;
  transform: scale(1.1);
}

#heading {
  position: fixed;
  top: 3dvh;
  left: 4dvw;
  width: 90dvw;
  height: 12dvh;
  background-color: #F15922;
  border-radius: 10px;
  color: white;
  font-size: 5dvw;
  text-align: center;
  align-content: center;
}

#close {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  border-radius: 100%;
  color: white;
  font-size: 7dvh;
  font-weight: 1;
}

#close:hover {
  color: rgb(89, 88, 88);
  cursor: pointer;
}

.avtar {
  position: absolute;
  top: 50%;
  left: 12%;
  aspect-ratio: 1;
  height: 80%;
  width: auto;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-size: cover;
}

.avtar.bot {
  position: relative;
  top: 0;
  left: 0;
  height: 5dvh;
  width: 5dvh;
  background-size: cover;
  transform: none;
}

#chat-area {
  position: absolute;
  top: 17dvh;
  left: 1dvw;
  height: 70dvh;
  width: 98dvw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.box {
  position: relative;
  border-radius: 10px;
  font-size: medium;
  overflow-wrap: break-word;
  margin-bottom: 1dvh;
  max-width: 80dvw;
}

.box:last-child {
  margin-bottom: 20dvh;
}

.box.user {
  align-self: flex-end;
  background-color: #f9a23f;
  border: 2dvw solid #f9a23f;
  border-top-right-radius: 0;
}

.box.bot {
  align-self: flex-start;
  background-color: #EF8812;
  border: 2dvw solid #EF8812;
  margin-left: 2dvh;
  border-top-left-radius: 0;
}

.box.bot.waiting {
  display: flex;
  align-items: center;
  justify-content: center;
}


.dot {
  width: 0.5rem;
  font-size: large;
  animation: wavyAnimation 1.5s infinite ease-in-out;
}

@keyframes wavyAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

#quick-access {
  position: fixed;
  bottom: 11.5dvh;
  left: 0;
  width: 100dvw;
  display: flex;
  flex-wrap: wrap;
}

.option {
  font-size: 1.3em;
  height: 1.3em;
  margin: 1dvw;
  background-color: #f9a23f;
  border-radius: 10px;
  border: none;
  animation: comeOut 0.4s ease-out;
}

.option:hover {
  background-color: #EF8812;
}

@keyframes comeOut {
  0% {
    color: #f9a23f00;
  }
}
.option.navigator {
  animation: none;
  position: absolute;
  top: -1.4em;
}
.option.navigator:nth-child(2){
  left: 1.3em;
}