body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#loginIcon img {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    width: 7dvw;
    cursor: pointer;
    animation: loginIntro 1s ease-in-out;
}

#loginIcon img:hover {
    transform: scale(1.1);
}

#popup {
    position: absolute;
    bottom: 5dvw;
    right: 7dvw;
    background-color: rgb(159, 250, 220);
    border: 0.7em solid rgb(159, 250, 220);
    border-radius: 20px;
    border-bottom-right-radius: 0;
    animation: largerFont 0.5s ease-in-out;
    display: none;
}

@keyframes largerFont {
    0% {
        font-size: 0;
    }
}

.grecaptcha-badge{
    display: none !important;
}